body{
    background: url('../img/bg.jpg') no-repeat center center ;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #d4cfcf;
    color: #fafafa;
}

.main{
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    height: 73%;
    padding-top: 2%;
    opacity: 0.9;
}

.main h2{
    text-align: center;
    text-shadow: 10px 11px 15px 0px rgba(43, 67, 85, 0.2);
}

.main .form-controll{
    width:50%;
    margin-left: 25%;
}

